Q1.

The def keyword is used to create, (or define) a function.

In [160]:
range(1,25)

range(1, 25)

In [161]:
def Odd_Num():
    l1 =[]
    for i in range(1,25):
        if i%2!=0 :
            l1.append(i)
    return l1

In [162]:
Odd_Num()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

Q2.

1.*args:
The *args syntax is used to pass a variable number of non-keyworded arguments to a function. The args parameter name is not required; you can use any name as long as it is prefixed with a single asterisk (*). Within the function, args is treated as a tuple that contains all the arguments passed.

In [163]:
def test(*args):
    
    return args

In [164]:
type(test())

tuple

In [165]:
test(2,3,4)

(2, 3, 4)

In [166]:
test(1,2,3,"Ranjeet" , "kumar" , [1,2,3,4,4])

(1, 2, 3, 'Ranjeet', 'kumar', [1, 2, 3, 4, 4])

In [167]:
def my_function(*args):
    for arg in args:
        print(arg)

In [168]:
my_function('Hello', 'World', '!')

Hello
World
!

2.**kwargs:
The **kwargs syntax allows you to pass a variable number of keyword arguments to a function. The kwargs parameter name is not required; you can use any name as long as it is prefixed with a double asterisk (**). Within the function, kwargs is treated as a dictionary that contains the keyword arguments passed.

In [169]:
def test2(**kwargs):
    return kwargs

In [170]:
type(test2())

dict

In [171]:
test2(a= 234, b = [3,4,5,6], c="Ranjeet")

{'a': 234, 'b': [3, 4, 5, 6], 'c': 'Ranjeet'}

In [172]:
def test3(**rk):
    return rk

In [173]:
test3(k="india")

{'k': 'india'}

In [174]:
def my_function(**kwargs):
    for key, value in kwargs.items():
        print(key, value)

my_function(name='Ranjeet', age=22, city='Gopalganj')

name Ranjeet
age 22
city Gopalganj

Q6.

In [175]:
def Fib_test():
    a,b=0,1
    while True :
        yield a
        a,b = b , a+b

In [176]:
fib=Fib_test()

In [177]:
type(fib)

generator

In [178]:
for i in range(10):
    print(next(fib))

0
1
1
2
3
5
8
13
21
34

Q3.

In Python, an iterator is an object that allows you to traverse through a sequence of elements. It provides a way to access the elements of a container (such as a list or a tuple) sequentially without needing to know the internal structure of the container.

To initialize an iterator object in Python, you can use the iter() function. This function takes an iterable object as an argument and returns an iterator object

In [179]:
my_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
my_iterator = iter(my_list)
for _ in range(5):
    element = next(my_iterator)
    print(element)

2
4
6
8
10

Q4.

In Python, a generator function is a special type of function that returns an iterator. It uses the yield keyword instead of return to provide a sequence of values one at a time.

The yield keyword is used in a generator function to define the points at which the function should pause its execution and yield a value to the caller. When the function encounters a yield statement, it temporarily suspends its execution and returns the yielded value to the caller. The state of the function is saved so that it can be resumed from where it left off when the next value is requested. This allows generator functions to generate values lazily, as they are needed, rather than computing and storing all values at once

In [180]:
def even_numbers(n):
    num = 0
    while num <= n:
        yield num
        num=num+2

In [181]:
even_nums = even_numbers(10)

for num in even_nums:
    print(num)

0
2
4
6
8
10

Q5.

In [182]:
def prime_num():
    for i in range(2,1000): 
        flag =0 
        for j in range(2,i):
            if (i%j==0):
                flag = 1
                break
        if (flag==0):
            yield i

In [183]:
prime_num()

In [184]:
g =prime_num()
for i in range(20):
    print(next(g))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71

Q7.

In [185]:
s ='pwskills'

In [186]:
l=[x for x in s ]

In [187]:
l

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

Q8.

In [188]:
def is_palindrome(number):
    temp = number
    reverse = 0

    while temp > 0:
        digit = temp % 10
        reverse = (reverse * 10) + digit
        temp = temp // 10

    if number == reverse:
        return True
    else:
        return False


# Example usage
num = int(input("Enter a number: "))
if is_palindrome(num):
    print(f"{num} is a palindrome.")
else:
    print(f"{num} is not a palindrome.")

Enter a number: 212
212 is a palindrome.

Q9.

In [189]:
l1=list(range(1,100))

In [190]:
l2 =[x for x in l1 ]

In [193]:
l2

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [203]:
l3 = [x for x in l2 if x%2!=0]

In [204]:
l3

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]